.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
    color: white;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    margin-left:200px;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
    
  }

  body {
    background-image: url('../images/ml2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    opacity: 1.0;
  }

  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
  }


  .text2{
    padding-left: 20px;
    color: white;
    font: 1em sans-serif;
  }

  .text{
    padding-left: 100px;
    color: white;
    font: 1em sans-serif;
  }

 
  .ml13 {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
    color: white;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }



  ul {
    list-style-image: url('../images/little-star.PNG');
    
  }

  li, .font-size{
      font-size: 2em;
  }

  li{
      padding-bottom: 40px;
      padding-left: 20px;
  }
  
.row{
    margin-bottom: 70px;
}

img{
  width:450px;
  height:450px;
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}


.div_box{
  padding-top: 50px;
  background-color: rgba(211, 195, 195, 0.2);
  color:whitesmoke;
  width:450px;
  height:200px;
  margin-left: 40px;
  margin-bottom: 20px;
}




.col-md-6 {
  border: 1px solid whitesmoke;
 
}


a:link, a:visited {
  background-color: #f443365e;
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #940d0dd8;
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a{
  margin-left: 30%;
  margin-top: 0;
}